*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Source Sans Pro', sans-serif;
}

body{
    background: #f6f6f6;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #fff;
    box-shadow: 0 4px 25px -22px rgb(0, 0, 0);
    z-index: 10;
}

.header1{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

.logo{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    text-align: justify;
}

.logo h1 b{
    color: #000000;

}


.menu {
    height: 80px;
    margin-right: 60px;
}

.menu nav{
    height: 100%;
}

.menu nav ul{
    height: 100%;
    display: flex;
    list-style: none;
}

.menu nav ul li{
    height: 100%;
    margin: 0px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.menu1:before{
    content: '';
    width: 100%;
    height: 4px;
    background: #68916f;
    position: absolute;
    top: 0;
    left: 0;
}

.menu nav ul li a{
    color: #777777;
    font-size: 18px;
    transition: color 300ms;
}

.menu nav ul li a:hover{
    color: #46a2fd;
}

.menu .text-menu1{
    color: #46a2fd;
}

.menu nav ul li a i{
    display: none;
}

#icon-menu{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: 16px;
    padding: 10px;
    background: #eeeeeefa;
    border-radius: 100%;
    color: #787878;
    display: none;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#icon-menu:hover{
    opacity: 0.8;
}

#icono-busqueda{
    position: absolute;
    right: 20px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#icono-busqueda i{
    font-size: 16px;
    color: #777777;
    cursor: pointer;
    transition: all 300ms;
}

#icono-busqueda i:hover{
    color: #46a2fd;
}


#barra-busqueda{
    position: fixed;
    top: -10px;
    width: 100%;
    background: #fff;
    padding: 20px;
    z-index: 9;
    transition: all 600ms;
}

#barra-busqueda input{
    display: block;
    width: 1200px;
    margin: auto;
    padding: 10px;
    font-size: 14px;
    outline: 0;
}

#box-search{
    position: fixed;
    top: 165px;
    left: 50%;
    transform: translateX(-50%);
    width: 1200px;
    background: #fff;
    z-index: 8;
    overflow: hidden;
    display: none;
}

#box-search li a{
    display: block;
    width: 1200px;
    color: #777777;
    padding: 12px 20px;
}

#box-search li a:hover{
    background: #f3f3f3;
}

#box-search li a i{
    margin-right: 10px;
    color: #777777;
}


#busqueda{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    background: rgba(0,0,0,0.5);
    z-index: 7;
    display: none;
}
.container{
    font-family:Georgia, 'Times New Roman', Times, serif;

}

.slogan{
    width: 100%;
    height: 200px;
    position: relative;
    margin-top: 80px;
    background-image: url(https://moodledanu.uleam.edu.ec/pluginfile.php/1/theme_klass/footerlogo/1632838115/logo_ULEAM_2017_horizontal.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 4px 25px -22px rgb(0, 0, 0);
}

.slogan:before{
    content: '';
    width: 100%;
    height: 100%;
    background: rgba(194, 231, 217, 0.521);
    position: absolute;
    top: 0;
    left: 0;
}

.container-info-cover{
    max-width: 500px;
    height: 170px;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.container-info-cover h1{
    font-size: 50px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: 20px;
}

.container-info-cover p{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 300;
}

input[type="radio"]{
    display: none;
}

.container-category{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 300px;
}

.container-category label{
    padding: 6px 40px;
    margin: 10px;
    font-size: 17px;
    background: #25f39380;
    border-radius: 5px;
    cursor: pointer;
}

.container-category label:hover{
    opacity: 0.8;
}

.container-post{
    max-width: 1300px;
    margin: 20px;
    margin-right: 20px;
}

.posts{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-top: 20px;
    padding: 20px;
    
}

.posts .post{
    background: #fff;
    box-shadow: 0 0 20px -20px black;
    border-radius: 6px;
    overflow: hidden;
    padding-bottom: 20px;
    
}

.post .ctn-img{
    width: 100%;
    border-radius: 50%;
}

.post .ctn-img img{
    width: 30%;
    height: 30%;
    object-fit: cover;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.post h2{
    font-size: 18px;
    margin-top: 20px;
    padding: 0px 20px;
}

.post span{
    display: block;
    margin-top: 10px;
    padding: 0px 20px;
}

.ctn-tag{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
    text-align:left;
}
.ctn-tag ul{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 16px;
    margin-top: 10px;
    text-align:left;
    margin-right: auto;
}

.ctn-tag li{
    list-style: none;
    font-size: 14px;
    margin: 4px;
    padding: 6px 10px;
    background: #e8e8e8;
    cursor: default;
    margin-right: 16px;

}


.post button{
    margin-top: 20px;
    margin-left: 23%;
    padding: 10px 50px;
    font-size: 16px;
    background:rgb(243, 51, 51);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;

}

.post button:hover{
    opacity: 0.9;
}


[value="Todos"]:checked ~ .posts .post[data-category]{
    display: block;
}

[value="Publicaciones"]:checked ~ .posts .post:not([data-category~="Publicaciones"]),
[value="Empleos"]:checked ~ .posts .post:not([data-category~="Empleos"]),
[value="Vacantes"]:checked ~ .posts .post:not([data-category~="Vacantes"]),
[value="Eventos"]:checked ~ .posts .post:not([data-category~="Eventos"]),
[value="Servicios"]:checked ~ .posts .post:not([data-category~="Servicios"]){
    display: none;
}

[value="Todos"]:checked ~ .container-category [for="Todos"],
[value="Publicaciones"]:checked ~ .container-category [for="Publicaciones"],
[value="Empleos"]:checked ~ .container-category [for="Empleos"],
[value="Vacantes"]:checked ~ .container-category [for="Vacantes"],
[value="Eventos"]:checked ~ .container-category [for="Eventos"],
[value="Servicios"]:checked ~ .container-category [for="Servicios"]{
    background:rgb(119, 175, 156);
    color: #fff;
}
